[submodule "cupti_test"]
	path = cupti_test
	url = git@github.com:Jokeren/cupti_test.git
[submodule "sw4"]
	path = sw4
	url = git@github.com:Jokeren/sw4.git
[submodule "RAJAPerf"]
	path = RAJAPerf
	url = git@github.com:Jokeren/RAJAPerf.git
[submodule "Laghos/Laghos"]
	path = Laghos/Laghos
	url = https://github.com/CEED/Laghos.git
[submodule "tls_test"]
	path = tls_test
	url = git@github.com:Jokeren/tls_test.git
