[submodule "cupti_test"]
	path = cupti_test
	url = git@github.com:Jokeren/cupti_test.git
[submodule "sw4"]
	path = sw4
	url = git@github.com:Jokeren/sw4.git
[submodule "RAJAPerf"]
	path = RAJAPerf
	url = git@github.com:Jokeren/RAJAPerf.git
[submodule "tls_test"]
	path = tls_test
	url = git@github.com:Jokeren/tls_test.git
[submodule "Laghos/Laghos"]
	path = Laghos/Laghos
	url = git@github.com:Jokeren/Laghos.git
[submodule "miniqmc/miniqmc"]
	path = miniqmc/miniqmc
	url = git@github.com:Jokeren/miniqmc.git
[submodule "lammps/lammps"]
	path = lammps/lammps
	url = git@github.com:Jokeren/lammps.git
[submodule "nvdisasm_test/CUDA-CFG-10.1"]
	path = nvdisasm_test/CUDA-CFG-10.1
	url = git@github.com:Jokeren/CUDA-CFG-10.1.git
